button{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    background-color: rgb(219, 126, 12);
    border: 2px solid yellow;
    color: rgb(25, 25, 144);
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    letter-spacing:1px
}